<?xml version="1.0" encoding="UTF-8"?>
<phpunit colors="true" strict="true">
    <testsuites>
        <testsuite name="redis test suite">
            <directory>test</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory>lib</directory>
        </whitelist>
    </filter>
</phpunit>
